.btn_list {
    border: none;
    background: none;
    cursor: pointer;
    color: #383838;  
}

.listItems {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.taskLength {
    font-size: 1.8rem;
    margin-right: 2em;
}

.square {
    height: .8em;
    width: 1em;
    background-color: blueviolet;
    border-radius: 100%;
    display: inline-block;
    padding-top: 1em;
    top: 50%;
    transform: translate(0 , 10%);
    margin: auto 2rem;
} 