.navbar {
    width: 30%;
    display: flex;
}

.menu {
    margin: 2.5rem;
    margin-right: 0rem;
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    border-radius: 20px;
    width: 80%;
    overflow: hidden;
    gap: 2rem;
}

.menu_text  , .menu_list{
    padding : 10px 15px ;
    color: #383838;   
}

.menu_text{
    font-size: 3rem;
    font-weight: 500;
}