.title {
    font-size: 1.3em ;
    margin-left: .5em;
}

.box{
    margin-top: .3em;
}

.square{
    width:  .5em;
    height: .5em;
    background-color: blueviolet;
    border-radius: 100%;
    display: inline-block;
    padding-bottom: .5em;
    top: 10%;
    transform: translate(0 , 5%);
    margin: auto 2rem;
}